*{
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif;
    
}
html{
    scroll-behavior: smooth !important;
    behavior : 'smooth';    
    
}


header {
    background-color: #333;
    color: white;
    text-align: center;
}
.header-content h1{
    font-size: 1.3em;
}
/* Boton de header */
.big-button {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.big-button:hover {
    background-color: #0056b3;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: all 0.3s;

}
nav ul li:hover{
    background-color: #c7e2ff;
    color: rgb(0, 0, 0);
}

li a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
/* Media screen  */

/* Estilos para dispositivos de pantalla pequeña (móviles) */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Cambiar la dirección del flexbox para que los elementos estén uno encima del otro */
        align-items: center; /* Centrar los elementos en el eje cruzado */
    }

    .nav-list {
        flex-direction: column; /* Mostrar los elementos de la lista uno debajo del otro */
        text-align: center; /* Centrar el texto en dispositivos móviles */
        margin-bottom: 15px; /* Añadir espacio entre los elementos de la lista */
    }

    .search-box {
        margin-top: 15px; /* Añadir espacio entre la lista y la caja de búsqueda */
        text-align: center; /* Centrar el texto en dispositivos móviles */
    }

    #searchInput {
        width: 100%; /* Hacer que la caja de búsqueda ocupe todo el ancho disponible */
    }
}

/*  */

/* Media screen  */

section {
    padding: 20px;
    transition: all 0.3s;

}
/* Sobre mi */
#sobre-mi, #proyectos, #container-contactos, .descripción-container{
    background-color: rgb(55, 55, 55);
    margin:  30px auto;
    border-radius: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.sobre-mi{
    margin: 0 !important; 
    padding: 30px ;
    background-image: url('../img/wallpaper/serveres.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

#proyectos{
    background-color: rgb(162, 162, 162);
    
}
#proyectos h2{
    color: white;
    font-size: 3em;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 8px rgb(123, 123, 123);
}
.container-proyects{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    animation: myAnim;
}


.descripción-container{

    color: white;
    font-weight: bolder;
}


/* Animaciones */
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
.container-proyects .card:hover{
    
    box-shadow:0 0 10px #ffffff;
    animation: myAnim;
    transform: translateY(-5%);

}

.descripción-container .card img{
    object-fit: cover;
    width: 100%;
    height: 30px;
}
    


.sobre-mi {
    position: relative;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






/* derscripcion */

.descripción-container > div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    max-width: 900px;
    margin: 20px auto ;
    padding: 20px;
    border-radius: 10px;
    
}
.descripción-container > div  div {
    width: 300px;
    background-color: #555555;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
   
    color: #93a8bf;
}

.descripción-container  div  div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);
    background-color: rgb(52, 118, 185);
    color: white;
    z-index: 2;

}


.descripción-container div div:hover .extra {
    visibility: visible;
    opacity: 1;
}

.extra {
    visibility: hidden;
    width: 600px;
    background-color: #0162c9;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
    border-radius: 6px;
    box-shadow: 0px 10px 10px  rgba(128, 128, 128, 0.847);
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 75%; 
    left: 10px;
    margin-left: -170px;
    opacity: 0;
    
    font-size: 1.3em;
}









footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 0;
    
}

/* 
    Carrusel de imagenes
*/


#container-carrusel {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s;
    width: 100%;
    overflow-x: scroll;
    padding: 20px 0;
}

.lista-carrusel {
    display: flex;
    
    list-style: none;
    padding: 0;
    margin: 0;
    transition: all 0.5s;

}

.lista-carrusel li {
    margin-right: 10px;
}

.lista-carrusel img {
    width: 100px; /* Tamaño de las imágenes */
    height: auto;
    border: 1px solid #ccc; /* Bordes para las imágenes */
    transition: all 0.3s;

}


/* 
    Seccion Informacion de contacto
*/
#container-contactos{
    width:120%;
    padding: 20px;
    color: rgb(214, 214, 214);

}   
#container-contactos a{
    font-size: 1.3em;
    color: white;
}

.red-social {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-social img {
    width: 30px;
    margin-right: 10px;
}

.red-social a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.red-social a:hover {
    color: #007bff;
}




/* Comments */
/* Comments */
/* Comments */
/* Comments */
/* Comments */


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
 

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


.cd__main p{
	padding: 20% 10%;
	font-size: 200%;
	font-family: arial;
	color: #333333;
}
#retype{
	color: #3333DD;
	border-right: solid 0.1em #333377;
}
